
.home-content{
    background: linear-gradient(135deg, #F9FAFB 0%, #E8F5E9 100%);
    margin-top:100px;
}
.home-content button{
  width:150px;
  height:50px;
  margin:0% 20%;
}
.home-content .home-left h1{
  padding-bottom:5%;
}
.home-content .home-left{
  width:50%;
  padding:8% 7%;
  padding-bottom: 5%;
}

.home-left-info {
  display: flex;
  flex-direction: column;
  gap:40px;
}
.highlight ul{
  padding:5%;
  display: flex;
  justify-content:space-around ;
}
.highlight ul li{
  display: flex;
  gap:10px;
  width:250px;
  list-style: none;
}

@media (max-width: 768px) {
      .home-content{
        display: flex;
        flex-direction: column;
      }
      .home-content .home-left,.home-content .home-left{
        width:100%;
      }
      .highlight ul{
        display:flex;
        flex-wrap: wrap;
        gap:50px;
      }
      
}